@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@300;400;900&family=PT+Sans&family=Secular+One&display=swap');

/* 
font-family: 'Fira Sans Condensed', sans-serif;
font-family: 'PT Sans', sans-serif;
font-family: 'Secular One', sans-serif;
*/

body{
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.container{
    min-width: 1920px;
    margin: 0 auto;
}